@font-face {
    font-family: Roboto;
    src: url(/Fonts/Roboto-Regular.ttf);
  }
  
  div {
    font-family: Roboto;
  }
  @font-face {
    font-family: Roboto;
    src: url(/Fonts/Roboto-Bold.ttf);
    font-weight: bold;
  }
.Fooldal{
    background: url(/Images/Főoldal/hatter.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#BevezetoText{
    background-color: rgba(0, 110, 255, 0.842);
    border-radius: 10px;
    font-family: Roboto;
}
.Teljesitmenyek{
  background: url(/Images/Teljesítmények/hatter2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}